* {
    box-sizing: border-box;
     margin:0;
    padding:0;
}

body{
    font-family: 'Tajawal', sans-serif;
    background-color: #23252C;
    color:#ffffff;
}

.container{
    background-color: #1A1B21;
    max-width: 317px;
     margin: 44px auto; 
}

.title{
    max-width: 317px;
    text-align: center;
}

.title >img{
    max-width:317px;
    border-radius: 10px 10px 0 0 ;
}

.title > h1{
    font-size: 25px;
    line-height: 30px;
    padding-top: 21px ;
}

.title > h2{
    font-size:13px;
    color:#F3BF99;
    margin-top:-15px;
    line-height: 16px;
    font-weight: 400;
}

.title > h3{
    font-size:11px;
    margin-top:7px;
    line-height: 15px;
    font-weight: 400;
}

.buttons{
    display: flex;
    justify-content: space-around;
    padding: 15px 35px 15px 36px;
}

.left , .right{
    width: 115px;
    padding: 9px 0;
    border-radius: 6px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.left{
    background-color: #ffffff;
    color:#374151;
}
.left > span , .right > span{
    font-size: 14px;
    display: inline-block;
    padding-left:9px;
}

.right{
    background-color: #5093E2;
    color:#ffffff;;
}

.bio{
    padding-top:33px;
    padding-left:36px;
    max-width:250px;
}

.bio > p{
    color:#DCDCDC;
    font-size: 11px;
    font-weight: 400;
}

.bio > h2{
    color:#F5F5F5;
    font-size: 16px;
    padding-bottom: 7px;
}

.footer{
    height: 65px;
    margin-top:24px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #161619;
}

.footer > img{
    display:inline-block;
    background-color: #918E9B;
    padding: 4px;
    width:25px;
    border-radius: 3px;
    margin: 5px 10px;
}
.test{
    background-color: #5093E2;
    width: 50px;
}


